.text{
    background: url("images/design.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  form{
    background-size: cover;
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0)} 
     {
        h3 text-align:center:
    }

  
  .form-group {margin-bottom: 15px;
    
  }
     {
        h3 text-align:center:
    }

  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;}
   .text2{
    background: url("images/design6.jpeg");
    background-color: rgb(252, 253, 253);
    display: fixed;
    color: white;
    
   }
  .container{
    color: blackS;
    padding: 10px;
    
    margin: 40px;
 
   }
   .hero{
    padding: 10px;
  
  
   }
   .x{
    color: #000;
   }
   

   
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e0eafc, #cfdef3); /* خلفية متدرجة */
    color: #333;
  }
  

  
  .text1{
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  
  
  h1 {
    text-align: center;
    color: #050505;
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  
  p {
    font-size: 17px;
    line-height: 1.8;
    text-align: justify;
    color: #0a0a0a;
    display: flex;
  
  }
  
  
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.2s;
  
  }
  
  nav ul li a:hover {
    background-color: #481abc;
    border-radius: 30px;
    transform: scale(0.1);
  }
  
  